.Header {
  background-color: #111820;
  color: #f3aa4e;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.Header-heading {
  font-size: 28px;
  margin: 0;
}

.Header-new-btn {
  padding: 7px 9px;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 1px 1px 3px 1px #f3a94e59;
}

.Header-new-btn:hover {
  transform: scale(1.04);
  box-shadow: 1px 1px 4px 1px #f3aa4e;
}

.Header-new-btn:active {
  transform: scale(1);
  box-shadow: 1px 1px 3px 1px #f3a94e59;
}

@media screen and (max-width: 950px) {
  .Header {
    padding: 0 10%;
  }
}

@media screen and (max-width: 830px) {
  .Header {
    padding: 0 5%;
    word-spacing: 2px;
  }
}

@media screen and (max-width: 560px) {
  .Header {
    height: 50px;
  }
  .Header-heading {
    font-size: 22px;
  }

  .Header-new-btn {
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .Header {
    height: 40px;
    letter-spacing: 0;
  }
  .Header-heading {
    font-size: 16px;
  }

  .Header-new-btn {
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 10px;
  }
}
